---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}" />
  <link
    rel="stylesheet"
    href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"
  />
</head>

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <script
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"
  ></script>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-Q7175JLSX4"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-Q7175JLSX4");
  </script>
  <header class="post-header">
    <!--  -->
    {% if page.external_url %}
    <h1 class="post-title p-name" itemprop="name headline">
      <a
        href="{{ page.external_url }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ page.title }}
      </a>
    </h1>
    {% else %}
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    {% endif %}
    <!--  -->

    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%} {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ page.author }}</span
        ></span
      >
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <!-- <nav class="sidebar"> -->
    <!-- Table of Contents -->
    <!-- <h4>Table of Contents</h4> -->
    <!-- {{ toc }} -->
    <!-- </nav> -->
    <!-- <br /> -->
    <!-- <br /> -->
    {{ content }}
  </div>

  <!-- Citations -->
  <!-- Add the citation section here -->
  <div class="citation-section">
    <h3>If you'd like to cite this article, please use:</h3>
    <pre>
  @misc{kayonrinde{{ page.date | date: "%Y" }}{{ page.stub }},
    author = "Kola Ayonrinde",
    title = "{{ page.title }}",
    year = {{ page.date | date: "%Y" }},
    howpublished = "Blog post",
    url = "{{ site.url }}{{ page.url }}"
  }
    </pre>
  </div>

  <br />

  <div>
    <h4>To be notified of new posts, subscribe below:</h4>
    <iframe
      src="https://lookingglassworld.substack.com/embed"
      width="100%"
      height="320"
      style="border: 1px solid #eee; background: white"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
