<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% if page.external_url %}
    <meta http-equiv="refresh" content="0; url={{ page.external_url }}" />
    {% endif %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% if page.external_url %}
    <h1>
      <a
        href="{{ page.external_url }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ page.title }}
      </a>
    </h1>
    {% else %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    <p>
      {{ page.authors | join: ", " }} ({{ page.year }})<br />
      {{ page.journal }}
    </p>
    <div>{{ content }}</div>
  </body>
</html>
